# Ignore temporary files
## standard temporary files
*~
## emacs temporary files
\#*\#

# Ignore CMake working files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# Other
