### Temporary files
# standard temporary files
*~
# emacs temporary files
\#*\#
.\#*

### CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages

### Build results
/build
*-config-version.cmake
*-config.cmake
*.pc
config.h
*.tar.gz
.version

### Other
tests/log
