### Ignore temporary files
# standard temporary files
*~
# emacs temporary files
\#*\#
.\#*

### CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages

### Other
# ignore build path
*-config-version.cmake
*-config.cmake
*.pc
/build
config.h
# tests log files
tests/log
